#hero {
    font-family: 'Comic Neue', cursive;
}
#text {
/*    text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;;
    color: black; */
    font-size: 27px;
    color: #00ffff;
}

#comics {
    background-size: 1000px; 
}

#hero-display {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 20px;
    margin: 0;
}

ul {
    font-size: 20px;
}

ul #hero-name {
    font-weight: bolder;
    font-size: 40px;
}

#hero-img {
    display:block;
    margin-left: auto;
    margin-right: auto; 
    width: 60%;
}

footer {
    display: flex;
    font-family: 'Farro', sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #f90000;
}

#movie-poster {
    display:block;
    margin-left: auto;
    margin-right: auto; 
    width: 60%;
    
}

  .movies {
    display: block;
    margin: 0px 50px 0px 75px;
  }
